<h1>Contact page</h1>
  
  <ul>
  <li><a href="https://twitter.com/adamcarter">Follow me on Twitter (if you want!)</a></li>
  
   <li><%= link_to("Click here to go to the Home page.", home_path, :class => "fancy_link") %></li>
 </ul>