<div id="portfolio">
<h1>Contact page</h1>
  
  <li><a href="https://twitter.com/adamcarter" target="_blank">Follow me on Twitter (if you want!)</a></li>
  <li><a href=" http://instagram.com/vtboyarc" target="_blank">My Instagram</a></li>
  
 <ul>
   <li><%= link_to("Click here to go to the Home page.", home_path, :class => "fancy_link") %></li>
 </ul>
</div>