<h1>Contact Adam!</h1>

<p>
 Please feel free to reach out to me!
</p>

<p>
  <ul>
    <li><%= link_to("Twitter", "https://twitter.com/adamcarter", :class => "twitter") %></li>
    <li> <%= link_to("Instagram", "http://instagram.com/vtboyarc", :class => "instagram") %></li>
    <li><%= link_to("Click here to go to the Home page.", home_path, :class => "fancy_link") %></li>
  </ul>
</p>