 <div id="home">
<h1>Welcome to my Portfolio!</h1>
<p>Here's some work I've done:</p>

<ul>
<li><%= link_to("Articles", articles_path,) %></li>
<li><%= link_to("Contacts", contacts_path,) %></li>
<li><%= link_to("Projects", class_projects_path,) %></li>
</ul>
</div>
