<div id="portfolio">
  <div class="home">
<h1>My Portfolio</h1>
<p>Here's some work I've done:</p>

<li><a href="http://ancient-oasis-2907.herokuapp.com/">Running Trails website</a></li>
<li><a href="https://github.com/vtboyarc">Check out my code on GitHub</a></li>


<ul>
  <li><%= link_to("About Me.", profile_path, :class => "fancy_link") %></li>
  
   <li><%= link_to("Contact Me.", contact_path, :class => "fancy_link") %></li>
  </ul>
</div>
</div>