<div id="portfolio">
<h1>Profile</h1>
<h2>About me</h2>
<p>Aspring Web Developer</p>

  <ul>
  <li><%= link_to("Click here to go to the Home page.", home_path, :class => "fancy_link") %></li>
  
   <li><%= link_to("Contact me.", contact_path, :class => "fancy_link") %></li>
  </ul>
</div>
