$font-stack:    Futura sans-serif;
$primary-color: #17D7ff;
$width: 100%;
$height: 1300px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 100% $font-stack;
  background: $primary-color;
  width: $width;
  height: $height;
}

#article, #home, #project, #contact, #link{
  background: #70E8B9;
  width: $width;
  margin: 0 auto 0 auto;
  position: absolute;
}

#notice, #alert{
  color: red;
}
